
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


.navbar-brand {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 300;
    font-size: 31px;
    text-transform: uppercase;
}

a {
    font-weight: 400;
}

.badge.badge-pill.border {
    border-color: #454371;
}

.navbar .navbar-nav .nav-link.active {
    font-weight: bold !important;
}

.row {
    padding-top: 30px;
    margin: 10px;
}
.article-style {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 300;
    font-size: 21px;
}

.home-section.wg-about-biography .article-style {
    padding-top: 80px !important;
    padding-left: 80px;
}

.avatar-circle {
    width: 250px;
    height: 250px;
}

#navbar-content.navbar-collapse.main-menu-item.collapse.justify-content-start {
    justify-content: flex-end !important;
}

a {
    color: #454371;
}
a:hover {
    color: #7e7c9d !important; // your preferred hover color
}

.navbar .navbar-nav .nav-link.active {
    color: #454371 !important;
}

.experience .m-2 .border, .experience .col.border-right {
    border-color: #454371 !important; // your preferred color
}

.experience .m-2 .background, .experience .col.border-right {
    border-color: #454371 !important; // your preferred color
}
.experience .m-2 .border.exp-fill {
    background-color: #454371 !important; // your preferred color
}

html body#top.page-wrapper div.page-header.header--fixed header nav#navbar-main.navbar.navbar-expand-lg.navbar-light.compensate-for-scrollbar div.container-xl ul.nav-icons.navbar-nav.flex-row.ml-auto.d-flex.pl-md-2 li.nav-item.dropdown.theme-dropdown div.dropdown-menu a.dropdown-item.js-set-theme-light.dropdown-item-active span {
    color: #454371 !important; // your preferred color
}

.btn-outline-primary {
    color: #454371; // your preferred button color
    border-color: #454371; // your preferred button border color
}

.btn-outline-primary:hover {
    color: #454371 !important; // your preferred button hover color
    border-color: #454371 !important; // your preferred button hover border color
    background-color: #d4d3e2 !important; // your preferred button hover background color
}

.btn.btn-primary.px-3.py-2.w-100 {
    color: #ffffff !important; // your preferred button hover color
    border-color: #454371 !important; // your preferred button hover border color
    background-color: #454371 !important; // your preferred button hover background color
}

.btn.btn-primary.px-3.py-2.w-100:hover {
    color: #ffffff !important; // your preferred button hover color
    border-color: #7e7c9d !important; // your preferred button hover border color
    background-color: #7e7c9d !important; // your preferred button hover background color
}

.dark {
    a {
        color: #aeadc5;
    }
    a:hover {
        color: #d4d3e2 !important; // your preferred hover color
    }

    body {
        background-color: #2d2a31;
        color: #fff;
    }

    .experience .m-2 .border, .experience .col.border-right {
        border-color: #aeadc5 !important; // your preferred color for dark mode
    }

    .experience .m-2 .border.exp-fill {
        background-color: #aeadc5 !important; // your preferred color for dark mode
    }

    html body#top.page-wrapper div.page-header.header--fixed header nav#navbar-main.navbar.navbar-expand-lg.navbar-light.compensate-for-scrollbar div.container-xl ul.nav-icons.navbar-nav.flex-row.ml-auto.d-flex.pl-md-2 li.nav-item.dropdown.theme-dropdown div.dropdown-menu a.dropdown-item.js-set-theme-light.dropdown-item-active span {
        color: #aeadc5 !important; // your preferred color for dark mode
    }

    .btn-outline-primary {
        color: #aeadc5; // your preferred button color for dark mode
        border-color: #aeadc5; // your preferred button border color for dark mode
    }

    .btn-outline-primary:hover {
        color: #d4d3e2 !important; // your preferred button hover color for dark mode
        border-color: #d4d3e2 !important; // your preferred button hover border color for dark mode
        background-color: #454371 !important; // your preferred button hover background color
    }

    .btn.btn-primary.px-3.py-2.w-100 {
        border-color: #7e7c9d; // your preferred button border color for dark mode
        background-color: #7e7c9d !important; // your preferred color for dark mode
    }

    .btn.btn-primary.px-3.py-2.w-100:hover {
        border-color: #aeadc5 !important; // your preferred button hover border color for dark mode
        background-color: #aeadc5!important; // your preferred button hover background color
    }


}
